<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CRM Application Test Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8eabb0">  <td>20/07/27 23:39:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@309e345f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/07/27 23:39:37</td>   <td>12228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.crm.qa.testcases.LoginPageTest@309e345f]">loginPageTitleTest</td> 
  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/07/27 23:39:37</td>   <td>12272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@309e345f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/07/27 23:39:39</td>   <td>13418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@309e345f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/07/27 23:39:50</td>   <td>24899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.crm.qa.testcases.LoginPageTest@309e345f]">loginTest</td> 
  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/07/27 23:39:50</td>   <td>25373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@309e345f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/07/27 23:39:51</td>   <td>26013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.crm.qa.testcases.HomePageTest@56a6d5a6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/07/27 23:40:02</td>   <td>37281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.clickOnContactsPage()[pri:3, instance:com.crm.qa.testcases.HomePageTest@56a6d5a6]">clickOnContactsPage</td> 
  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/07/27 23:40:04</td>   <td>39188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.HomePageTest@56a6d5a6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>20/07/27 23:40:05</td>   <td>40227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@18ce0030]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>20/07/27 23:40:19</td>   <td>53925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.clickContactByName()[pri:2, instance:com.crm.qa.testcases.ContactsPageTest@18ce0030]">clickContactByName</td> 
  <td>main@1058634310</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>20/07/27 23:40:20</td>   <td>55218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@18ce0030]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1058634310</td>   <td></td> </tr>
</table>
