<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Web Test Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f67b76">  <td>20/12/19 19:11:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignupPageTest.setUp()[pri:0, instance:com.webautomation1.qa.testcases.SignupPageTest@55f3ddb1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>20/12/19 19:11:45</td>   <td>2029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignupPageTest.loginTest()[pri:0, instance:com.webautomation1.qa.testcases.SignupPageTest@55f3ddb1]">loginTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
</table>
